body {
  // Fonts
  --primary-font: 'DM Sans', 'Montserrat', 'Arial', sans-serif;

  // Transition
  --transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);

  // Font colors
  --primary-font-color: #111111;
  --second-font-color: #B4AFAF;
  --categories-font-color: rgba(17, 17, 17, 0.6);
  --underbtn-font-color: rgba(17, 17, 17, 0.5);
  --btn-font-color: #FFFFFF;

  // Accent colors
  --primary-accent-color: #4F2EE8;
  --second-accent-color: #EAC645;

  // Background colors
  --header-bg-color: #FFFFFF;
  --main-bg-color: #F6F6F6;
  --support-menu-bg-color: radial-gradient(183.6% 183.01% at 59.76% -23.42%, #4F2EE8 18.03%, #FFFFFF 100%);
  --modal-bg-color: #FFFFFF;
  --backdrop-color: rgba(17, 17, 17, 0.4);
 
  // Border colors
  --border-color: #111111;
  --btn-border-color: #4F2EE8;
  --list-border-color: rgba(79, 46, 232, 0.4);
  --to-top-border-color: rgba(79, 46, 232, 0.3);

  // Icons
  --icon-color: #111111;

  // Pagination
  --arrow-back-color: #B4AFAF;
  --arrow-next-color: #111111;
  --back-bg-color: #111111;
  --next-bg-color: #EAC645;
  --active-txt-color: #FFFFFF;
  --active-bg-color: #111111;
  --not-active-txt-color: #111111;
}

body.dark {
  // Fonts
  --primary-font: 'DM Sans', 'Montserrat', 'Arial', sans-serif;

  // Transition
  --transition-duration: 250ms cubic-bezier(0.4, 0, 0.2, 1);

  // Font colors
  --primary-font-color: #FFFFFF;
  --second-font-color: #B4AFAF;
  --categories-font-color: rgba(255, 255, 255, 0.6);
  --underbtn-font-color: rgba(255, 255, 255, 0.5);
  --btn-font-color: #FFFFFF;

  // Accent colors
  --primary-accent-color: #4F2EE8;
  --second-accent-color: #EAC645;

  // Background colors
  --header-bg-color: #111111;
  --main-bg-color: #202024;
  --support-menu-bg-color: radial-gradient(183.6% 183.01% at 59.76% -23.42%, #4F2EE8 18.03%, #FFFFFF 100%);
  --modal-bg-color: #202024;
  --backdrop-color: rgba(17, 17, 17, 0.4);
 
  // Border colors
  --border-color: #FFFFFF;
  --btn-border-color: #4F2EE8;
  --list-border-color: rgba(79, 46, 232, 0.4);
  --to-top-border-color: rgba(79, 46, 232, 0.3);

  // Icons
  --icon-color: #FFFFFF;

  // Pagination
  --arrow-back-color: #FFFFFF;
  --arrow-next-color: #111111;
  --back-bg-color: #111111;
  --next-bg-color: #EAC645;
  --active-txt-color: #111111;
  --active-bg-color:#FFFFFF;
  --not-active-txt-color: #FFFFFF;
}