<h2 class="books-section__title">
  Best Sellers <span class="books-section__title-span">Books</span>
</h2>

<div class="books-section__list-markup">
  <p class="list-markup__paragraph">Combined Print and E-Book Fiction</p>

  <div class="list-markup first-top"></div>

  <div class="list-markup__button-wrapper">
    <button class="list-markup__see-more-button">see more</button>
  </div>
</div>

<div class="books-section__list-markup">
  <p class="list-markup__paragraph">COMBINED PRINT & E-BOOK NONFICTION</p>
  <div class="list-markup second-top"></div>
  <div class="list-markup__button-wrapper">
    <button class="list-markup__see-more-button">see more</button>
  </div>
</div>

<div class="books-section__list-markup">
  <p class="list-markup__paragraph">HARDCOVER FICTION</p>
  <div class="list-markup third-top"></div>
  <div class="list-markup__button-wrapper">
    <button class="list-markup__see-more-button">see more</button>
  </div>
</div>

<div class="books-section__list-markup">
  <p class="list-markup__paragraph">HARDCOVER nonFICTION</p>
  <div class="list-markup fourth-top"></div>
  <div class="list-markup__button-wrapper">
    <button class="list-markup__see-more-button">see more</button>
  </div>
</div>
