<div class="auth">

        <form action="" class="form-test">
        <input type="" placeholder="your Email" name="mail" id="">
        <input type="password"  placeholder="your Pass" name="password" id="">
        <!-- <input type="text" placeholder="name" name="data" id=""> -->
        </form>
       
       <div class="check">
       </div>
       <!-- <p id="userOnLine" >no user on line</p> -->
       <button class="sigIn">singIn</button>
       <button class="reg">reg</button>
       <button class="sigOut">singOut</button>
</div>