  <!-- footer-modal window -->
<div class="footer-backdrop is-hidden" data-modal-footer>
  <div class="footer-modal">
    <button data-modal-close-footer type="button" class="footer-modal-btn">
      <svg class="footer-modal-icon modal__icon-close" width="28" height="28" aria-label="Button to close the footer-modal window">
        <use href="./images/icons.svg#icon-close"></use>
      </svg>
    </button>
    <p class="footer-modal__title">Team of developers</p>
    <div class="footer-modal__wrap ">
      <ul class="footer-modal__list list">
        <li class="footer-modal__item">
          <div class="footer-modal__card">
            <div class="footer-modal__card-front">
              <img
                class="img footer-modal__card-img"
                srcset="./images/team/Vitaly.jpg"
                src="./images/team/Vitaly.jpg"
                alt="Photo of a team player"
                width="370"
                loading="lazy"
              />

              <p class="footer-modal__card-title">Team lead</p>
              <p class="footer-modal__card-title">Гулень Віталій </p>
              <a
                href="https://github.com/gulen13"
                class="footer-modal__link link"
                target="_blank"
                >GitHub</a
              >
            </div>
            <div class="footer-modal__card-back">
              <p class="footer-modal__card-discription">
                Віталій Гулень – проявив себе не тільки як гарним тім лідом, а й талановитим розробником. Незважаючи на свою посаду, запровадив лоадер при завантажені сторінки та функціонал додавання книжки через модальне вікно. Крім того, Віталій зумів зробити рендеринг книг по натисканні на певну категорію книг, що значно полегшило користування нашим додатком.
              </p>
            </div>
          </div>
        </li>
        <li class="footer-modal__item">
          <div class="footer-modal__card">
            <div class="footer-modal__card-front">
              <img
                class="img footer-modal__card-img"
                srcset="./images/team/Danil.jpg"
                src="./images/team/Danil.jpg"
                alt="Photo of a team player"
                width="370"
                loading="lazy"
              />

              <p class="footer-modal__card-title">Scrum master</p>
              <p class="footer-modal__card-title">Дейнека Данило</p>
              <a
                href="https://github.com/DTripleD"
                class="footer-modal__link link"
                target="_blank"
                >GitHub</a
              >
            </div>
            <div class="footer-modal__card-back">
              <p class="footer-modal__card-discription">
                Данило Дейнека - Скрам майстер. Займався різноманітними завданнями, включаючи дрібний баг-фікс, додавання FavIcon та Scroll up. Крім того, він розробив функціонал для додавання даних у Local storage, що є важливим елементом для зберігання та обробки інформації в програмі.
              </p>
            </div>
          </div>
        </li>
        <li class="footer-modal__item">
          <div class="footer-modal__card">
            <div class="footer-modal__card-front">
              <img
                class="img footer-modal__card-img"
                srcset="./images/team/Margo.jpg"
                src="./images/team/Margo.jpg"
                alt="Photo of a team player"
                width="370"
                loading="lazy"
              />

              <p class="footer-modal__card-title">Developer</p>
              <p class="footer-modal__card-title">Сухова Маргарита</p>
              <a
                href="https://github.com/MargaritaSukhova"
                class="footer-modal__link link"
                target="_blank"
                >GitHub</a
              >
            </div>
            <div class="footer-modal__card-back">
              <p class="footer-modal__card-discription">
                Маргарита – розробник. Відповідала за розробку розділу Shopping list у веб-додатку. Показала себе як професіонал, при роботі з localStorage і успішно створила функціонал відмальовування доданих книг у цей розділ, щоб користувачі могли зручно переглядати список своїх книг.
              </p>
            </div>
          </div>
        </li>
        <li class="footer-modal__item">
          <div class="footer-modal__card">
            <div class="footer-modal__card-front">
              <img
                class="img footer-modal__card-img"
                srcset="./images/team/Nicholas.jpg"
                src="./images/team/Nicholas.jpg"
                alt="Photo of a team player"
                width="370"
                loading="lazy"
              />

              <p class="footer-modal__card-title">Developer</p>
              <p class="footer-modal__card-title">Москаленко Микола</p>
              <a
                href="https://github.com/moskalenko-mm"
                class="footer-modal__link link"
                target="_blank"
                >GitHub</a
              >
            </div>
            <div class="footer-modal__card-back">
              <p class="footer-modal__card-discription">
                Микола Москаленко – розробник. На проекті був відповідальний за розробку шаблону книги в шопінг листі. Приймав активну участь в дрібному баг фіксі. Був присутній на всіх етапах розробки проекту та докладав максимум зусиль для досягнення успіху.
              </p>
            </div>
          </div>
        </li>
        <li class="footer-modal__item">
          <div class="footer-modal__card">
            <div class="footer-modal__card-front">
              <img
                class="img footer-modal__card-img"
                srcset="././images/team/Alina.jpg"
                src="./images/team/Alina.jpg"
                alt="Photo of a team player"
                width="370"
                loading="lazy"
              />

              <p class="footer-modal__card-title">Developer</p>
              <p class="footer-modal__card-title">Шапошник Аліна</p>
              <a
                href="https://github.com/alineriya"
                class="footer-modal__link link"
                target="_blank"
                >GitHub</a
              >
            </div>
            <div class="footer-modal__card-back">
              <p class="footer-modal__card-discription">
                Аліна - розробник. Успішно створила функціонал пагінації для shopping list, що дозволяє користувачам швидко та зручно переходити між різними сторінками списку покупок. Володіє глибоким розумінням програмування та вміє ефективно застосовувати свої знання для розв'язання складних завдань.
              </p>
            </div>
          </div>
        </li>
        <li class="footer-modal__item">
          <div class="footer-modal__card">
            <div class="footer-modal__card-front">
              <img
                class="img footer-modal__card-img"
                srcset="./images/team/Yuriy.jpg"
                src="./images/team/Yuriy.jpg"
                alt="Photo of a team player"
                width="370"
                loading="lazy"
              />

              <p class="footer-modal__card-title">Developer</p>
              <p class="footer-modal__card-title">Федор Юрій</p>
              <a
                href="https://github.com/FYuriyF"
                class="footer-modal__link link"
                target="_blank"
                >GitHub</a
              >
            </div>
            <div class="footer-modal__card-back">
              <p class="footer-modal__card-discription">
                Юрій – розробник. Відповідальний за створення розділу благодійних фондів на проекті. Створив функціонал, який дозволяє користувачам дізнатися про можливість допомоги різним організаціям та фондам. Завдяки Юрію, користувачам був наданий зручний та ефективний інструмент для допомоги тим, хто цього потребує. Професійно користується багатьма інструментами, що дозволило йому швидко та ефективно виконувати свої завдання.
              </p>
            </div>
          </div>
        </li>
        <li class="footer-modal__item">
          <div class="footer-modal__card">
            <div class="footer-modal__card-front">
              <img
                class="img footer-modal__card-img"
                srcset="./images/team/Sviat.jpg"
                src="./images/team/Sviat.jpg"
                alt="Photo of a team player"
                width="370"
                loading="lazy"
              />

              <p class="footer-modal__card-title">Developer</p>
              <p class="footer-modal__card-title">Білоус Святослав</p>
              <a
                href="https://github.com/sviat24"
                class="footer-modal__link link"
                target="_blank"
                >GitHub</a
              >
            </div>
            <div class="footer-modal__card-back">
              <p class="footer-modal__card-discription">
                Святослав Білоус – розробник. Був відповідальним за верстку і додавання функціоналу для мобільного меню та хедеру на проекті. Завдяки своїм навичкам та досвіду він забезпечує безперебійну роботу сайту та зручність його використання для користувачів. Святослав завжди готовий допомогти та внести свою частку в розвиток проекту.
              </p>
            </div>
          </div>
        </li>
        <li class="footer-modal__item">
          <div class="footer-modal__card">
            <div class="footer-modal__card-front">
              <img
                class="img footer-modal__card-img"
                srcset="./images/team/Iryna.jpg"
                src="./images/team/Iryna.jpg"
                alt="Photo of a team player"
                width="370"
                loading="lazy"
              />

              <p class="footer-modal__card-title">Developer</p>
              <p class="footer-modal__card-title">Заліська Ірина</p>
              <a
                href="https://github.com/irazaliska"
                class="footer-modal__link link"
                target="_blank"
                >GitHub</a
              >
            </div>
            <div class="footer-modal__card-back">
              <p class="footer-modal__card-discription">
                Ірина Заліська – розробник. Успішно створила модальне вікно однієї книги, що дозволяє користувачам зручно переглядати деталі та інформацію. Має глибокі знання у розробці веб застосунків та протягом усього проекту докладала всіх зусиль, щоб забезпечити високу якість своєї роботи.
              </p>
            </div>
          </div>
        </li>
        <li class="footer-modal__item">
          <div class="footer-modal__card">
            <div class="footer-modal__card-front">
              <img
                class="img footer-modal__card-img"
                srcset="./images/team/Lidiiy.jpg"
                src="./images/team/Lidiiy.jpg"
                alt="Photo of a team player"
                width="370"
                loading="lazy"
              />

              <p class="footer-modal__card-title">Developer</p>
              <p class="footer-modal__card-title">Чирнишук Лідія</p>
              <a
                href="https://github.com/LidiiaChyrnyshuk"
                class="footer-modal__link link"
                target="_blank"
                >GitHub</a
              >
            </div>
            <div class="footer-modal__card-back">
              <p class="footer-modal__card-discription">
                Лідія – розробник. Взяла на себе важливі завдання. Розробила сайдбар, що містив усі категорії книг, написала Fetch API та створила футер із згадкою про нашу команду розробників. З її допомогою було забезпечено коректну роботу проекту та додано нові функції. Має глибокі знання в області програмування, що дозволяє їй створювати ефективні та інноваційні рішення для розширення функціоналу веб-додатків.
              </p>
            </div>
          </div>
        </li>
        <li class="footer-modal__item">
          <div class="footer-modal__card">
            <div class="footer-modal__card-front">
              <img
                class="img footer-modal__card-img"
                srcset="./images/team/Iryna2.jpg"
                src="./images/team/Iryna2.jpg"
                alt="Photo of a team player"
                width="370"
                loading="lazy"
              />

              <p class="footer-modal__card-title">Developer</p>
              <p class="footer-modal__card-title">Сінкевич Ірина</p>
              <a
                href="https://github.com/sugarSloth"
                class="footer-modal__link link"
                target="_blank"
                >GitHub</a
              >
            </div>
            <div class="footer-modal__card-back">
              <p class="footer-modal__card-discription">
                Ірина Сінкевич - розробник. Успішно створила функціонал перемикання темної та світлої теми, що дозволяє користувачам зручно змінювати колірну схему додатку в залежності від їхніх вподобань та потреб. Її ефективна робота у команді дозволила досягати великого успіху на проекті.
              </p>
            </div>
          </div>
        </li>
        <li class="footer-modal__item">
          <div class="footer-modal__card">
            <div class="footer-modal__card-front">
              <img
                class="img footer-modal__card-img"
                srcset="./images/team/cat1.jpg"
                src="./images/team/cat1.jpg"
                alt="Photo of a team player"
                width="370"
                loading="lazy"
              />

              <p class="footer-modal__card-title">Developer</p>
              <p class="footer-modal__card-title">Никита Тищенко</p>
              <a
                href="https://github.com/NikitaTysh"
                class="footer-modal__link link"
                target="_blank"
                >GitHub</a
              >
            </div>
            <div class="footer-modal__card-back">
              <p class="footer-modal__card-discription">
               Нікіта – розробник. Займався підключенням та додаванням функціоналу бібліотеки Firebase на проект. Це дозволило забезпечити безпеку та збереження даних користувачів на сервері. Він зробив значний внесок у функціональність проекту та його стабільну роботу. Нікіта виконав свою роботу відповідально та професійно.
              </p>
            </div>
          </div>
        </li>
        <li class="footer-modal__item">
          <div class="footer-modal__card">
            <div class="footer-modal__card-front">
              <img
                class="img footer-modal__card-img"
                srcset="./images/team/cat.jpg"
                src="./images/team/cat.jpg"
                alt="Photo of a team player"
                width="370"
                loading="lazy"
              />

              <p class="footer-modal__card-title">Developer</p>
              <p class="footer-modal__card-title">Данюк Владислав</p>
              <a
                href="https://github.com/"
                class="footer-modal__link link"
                target="_blank"
                >GitHub</a
              >
            </div>
            <div class="footer-modal__card-back">
              <p class="footer-modal__card-discription">
                Влад Данюк - розробник. Займався рендерингом центральної секції по категорії книг, що дозволило користувачам швидко та зручно знайти потрібну книгу. Має високі професійні здібності та ефективно працює в команді, що забезпечує успіх на проекті.
              </p>
            </div>
          </div>
        </li>
      </ul>
    </div>
  </div>
</div>