  <!-- Modal window -->
<div class="backdrop " data-modal-footer>
  <div class="modal container">
    <button data-modal-close type="button" class="modal-btn">
      <svg class="modal-icon" width="20px" height="20px" aria-label="Button to close the modal window">
        <use href="./images/icons.svg#icon-close"></use>
      </svg>
    </button>
    <p class="modal__title">Team developers</p>
    <div class="modal__wrap container">
      <ul class="modal__list list">
        <li class="modal__item">
          <div class="modal__card">
            <div class="modal__card-front">
              <img
                class="img modal__card-img"
                srcset="./images/team/Vitaly.jpg"
                src="./images/team/Vitaly.jpg"
                alt="Photo of a team player"
                width="370"
                loading="lazy"
              />

              <p class="modal__card-title">Team lead</p>
              <a
                href="https://github.com/gulen13"
                class="modal__link link"
                target="_blank"
                >GIT</a
              >
            </div>
            <div class="modal__card-back">
              <p class="modal__card-discription">
                Lorem ipsum dolor sit, amet consectetur adipisicing elit. Rerum
                consectetur odio minus, eos placeat magnam vero, ab molestias
                voluptatem atque praesentium? Minus quo aliquid deserunt dolor
                doloremque corporis odio expedita.
              </p>
            </div>
          </div>
        </li>
        <li class="modal__item">
          <div class="modal__card">
            <div class="modal__card-front">
              <img
                class="img modal__card-img"
                srcset="./images/team/Danil.jpg"
                src="./images/team/Danil.jpg"
                alt="Photo of a team player"
                width="370"
                loading="lazy"
              />

              <p class="modal__card-title">Scrum master</p>
              <a
                href="https://github.com/DTripleD"
                class="modal__link link"
                target="_blank"
                >GIT</a
              >
            </div>
            <div class="modal__card-back">
              <p class="modal__card-discription">
                Lorem ipsum dolor sit, amet consectetur adipisicing elit. Rerum
                consectetur odio minus, eos placeat magnam vero, ab molestias
                voluptatem atque praesentium? Minus quo aliquid deserunt dolor
                doloremque corporis odio expedita.
              </p>
            </div>
          </div>
        </li>
        <li class="modal__item">
          <div class="modal__card">
            <div class="modal__card-front">
              <img
                class="img modal__card-img"
                srcset="./images/team/Margo.jpg"
                src="./images/team/Margo.jpg"
                alt="Photo of a team player"
                width="370"
                loading="lazy"
              />

              <p class="modal__card-title">Developer</p>
              <a
                href="https://github.com/MargaritaSukhova"
                class="modal__link link"
                target="_blank"
                >GIT</a
              >
            </div>
            <div class="modal__card-back">
              <p class="modal__card-discription">
                Lorem ipsum dolor sit, amet consectetur adipisicing elit. Rerum
                consectetur odio minus, eos placeat magnam vero, ab molestias
                voluptatem atque praesentium? Minus quo aliquid deserunt dolor
                doloremque corporis odio expedita.
              </p>
            </div>
          </div>
        </li>
        <li class="modal__item">
          <div class="modal__card">
            <div class="modal__card-front">
              <img
                class="img modal__card-img"
                srcset="./images/team/Nicholas.jpg"
                src="./images/team/Nicholas.jpg"
                alt="Photo of a team player"
                width="370"
                loading="lazy"
              />

              <p class="modal__card-title">Developer</p>
              <a
                href="https://github.com/moskalenko-mm"
                class="modal__link link"
                target="_blank"
                >GIT</a
              >
            </div>
            <div class="modal__card-back">
              <p class="modal__card-discription">
                Lorem ipsum dolor sit, amet consectetur adipisicing elit. Rerum
                consectetur odio minus, eos placeat magnam vero, ab molestias
                voluptatem atque praesentium? Minus quo aliquid deserunt dolor
                doloremque corporis odio expedita.
              </p>
            </div>
          </div>
        </li>
        <li class="modal__item">
          <div class="modal__card">
            <div class="modal__card-front">
              <img
                class="img modal__card-img"
                srcset="././images/team/Alina.jpg"
                src="./images/team/Alina.jpg"
                alt="Photo of a team player"
                width="370"
                loading="lazy"
              />

              <p class="modal__card-title">Developer</p>
              <a
                href="https://github.com/alineriya"
                class="modal__link link"
                target="_blank"
                >GIT</a
              >
            </div>
            <div class="modal__card-back">
              <p class="modal__card-discription">
                Lorem ipsum dolor sit, amet consectetur adipisicing elit. Rerum
                consectetur odio minus, eos placeat magnam vero, ab molestias
                voluptatem atque praesentium? Minus quo aliquid deserunt dolor
                doloremque corporis odio expedita.
              </p>
            </div>
          </div>
        </li>
        <li class="modal__item">
          <div class="modal__card">
            <div class="modal__card-front">
              <img
                class="img modal__card-img"
                srcset="./images/team/Yuriy.jpg"
                src="./images/team/Yuriy.jpg"
                alt="Photo of a team player"
                width="370"
                loading="lazy"
              />

              <p class="modal__card-title">Developer</p>
              <a
                href="https://github.com/FYuriyF"
                class="modal__link link"
                target="_blank"
                >GIT</a
              >
            </div>
            <div class="modal__card-back">
              <p class="modal__card-discription">
                Lorem ipsum dolor sit, amet consectetur adipisicing elit. Rerum
                consectetur odio minus, eos placeat magnam vero, ab molestias
                voluptatem atque praesentium? Minus quo aliquid deserunt dolor
                doloremque corporis odio expedita.
              </p>
            </div>
          </div>
        </li>
        <li class="modal__item">
          <div class="modal__card">
            <div class="modal__card-front">
              <img
                class="img modal__card-img"
                srcset="./images/team/Sviat.jpg"
                src="./images/team/Sviat.jpg"
                alt="Photo of a team player"
                width="370"
                loading="lazy"
              />

              <p class="modal__card-title">Developer</p>
              <a
                href="https://github.com/sviat24"
                class="modal__link link"
                target="_blank"
                >GIT</a
              >
            </div>
            <div class="modal__card-back">
              <p class="modal__card-discription">
                Lorem ipsum dolor sit, amet consectetur adipisicing elit. Rerum
                consectetur odio minus, eos placeat magnam vero, ab molestias
                voluptatem atque praesentium? Minus quo aliquid deserunt dolor
                doloremque corporis odio expedita.
              </p>
            </div>
          </div>
        </li>
        <li class="modal__item">
          <div class="modal__card">
            <div class="modal__card-front">
              <img
                class="img modal__card-img"
                srcset="./images/team/Iryna.jpg"
                src="./images/team/Iryna.jpg"
                alt="Photo of a team player"
                width="370"
                loading="lazy"
              />

              <p class="modal__card-title">Developer</p>
              <a
                href="https://github.com/irazaliska"
                class="modal__link link"
                target="_blank"
                >GIT</a
              >
            </div>
            <div class="modal__card-back">
              <p class="modal__card-discription">
                Lorem ipsum dolor sit, amet consectetur adipisicing elit. Rerum
                consectetur odio minus, eos placeat magnam vero, ab molestias
                voluptatem atque praesentium? Minus quo aliquid deserunt dolor
                doloremque corporis odio expedita.
              </p>
            </div>
          </div>
        </li>
        <li class="modal__item">
          <div class="modal__card">
            <div class="modal__card-front">
              <img
                class="img modal__card-img"
                srcset="./images/team/Lidiiy.jpg"
                src="./images/team/Lidiiy.jpg"
                alt="Photo of a team player"
                width="370"
                loading="lazy"
              />

              <p class="modal__card-title">Developer</p>
              <a
                href="https://github.com/LidiiaChyrnyshuk"
                class="modal__link link"
                target="_blank"
                >GIT</a
              >
            </div>
            <div class="modal__card-back">
              <p class="modal__card-discription">
                Lorem ipsum dolor sit, amet consectetur adipisicing elit. Rerum
                consectetur odio minus, eos placeat magnam vero, ab molestias
                voluptatem atque praesentium? Minus quo aliquid deserunt dolor
                doloremque corporis odio expedita.
              </p>
            </div>
          </div>
        </li>
        <li class="modal__item">
          <div class="modal__card">
            <div class="modal__card-front">
              <img
                class="img modal__card-img"
                srcset="./images/team/cat.jpg"
                src="./images/team/cat.jpg"
                alt="Photo of a team player"
                width="370"
                loading="lazy"
              />

              <p class="modal__card-title">Developer</p>
              <a
                href="https://github.com/sugarSloth"
                class="modal__link link"
                target="_blank"
                >GIT</a
              >
            </div>
            <div class="modal__card-back">
              <p class="modal__card-discription">
                Lorem ipsum dolor sit, amet consectetur adipisicing elit. Rerum
                consectetur odio minus, eos placeat magnam vero, ab molestias
                voluptatem atque praesentium? Minus quo aliquid deserunt dolor
                doloremque corporis odio expedita.
              </p>
            </div>
          </div>
        </li>
        <li class="modal__item">
          <div class="modal__card">
            <div class="modal__card-front">
              <img
                class="img modal__card-img"
                srcset="./images/team/cat1.jpg"
                src="./images/team/cat1.jpg"
                alt="Photo of a team player"
                width="370"
                loading="lazy"
              />

              <p class="modal__card-title">Developer</p>
              <a
                href="https://github.com/NikitaTysh"
                class="modal__link link"
                target="_blank"
                >GIT</a
              >
            </div>
            <div class="modal__card-back">
              <p class="modal__card-discription">
                Lorem ipsum dolor sit, amet consectetur adipisicing elit. Rerum
                consectetur odio minus, eos placeat magnam vero, ab molestias
                voluptatem atque praesentium? Minus quo aliquid deserunt dolor
                doloremque corporis odio expedita.
              </p>
            </div>
          </div>
        </li>
        <li class="modal__item">
          <div class="modal__card">
            <div class="modal__card-front">
              <img
                class="img modal__card-img"
                srcset="./images/team/cat.jpg"
                src="./images/team/cat.jpg"
                alt="Photo of a team player"
                width="370"
                loading="lazy"
              />

              <p class="modal__card-title">Developer</p>
              <a
                href="https://github.com/"
                class="modal__link link"
                target="_blank"
                >GIT</a
              >
            </div>
            <div class="modal__card-back">
              <p class="modal__card-discription">
                Lorem ipsum dolor sit, amet consectetur adipisicing elit. Rerum
                consectetur odio minus, eos placeat magnam vero, ab molestias
                voluptatem atque praesentium? Minus quo aliquid deserunt dolor
                doloremque corporis odio expedita.
              </p>
            </div>
          </div>
        </li>
      </ul>
    </div>
  </div>
</div>