 <!-- Modal window -->
    <div class="backdrop is-hidden" data-modal-footer>
      <div class="modal">
        <button data-modal-close type="button" class="modal-btn">
          <svg  class="modal-icon" width="18px" height="18px">
          <use href="./images/symbol-defs.svg#close-black"></use>
        </svg></button>
        <p class="team__title">Team developers</p>
      <div class="team__wrap container">
        <ul class="team__list list">
          <li class="team__item">
            <div class="team__card">
              <div class="team__card-front">
                <img class="team__card-img img" src="" alt="">
                <p class="team__card-title">Developer</p>
                <a href="https://github.com/LidiiaChyrnyshuk"
            class="footer-modal__link"
            target="_blank">GIT</a>
              </div>
              <div class="team__card-back">
                <p class="team__card-discription">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Rerum consectetur odio minus, eos placeat magnam vero, ab molestias voluptatem atque praesentium? Minus quo aliquid deserunt dolor doloremque corporis odio expedita.</p>
              </div>
            </div>
          </li>
          <li class="team__item">
            <div class="team__card">
              <div class="team__card-front">
                <img class="team__card-img" src="" alt="">
                <p class="team__card-title">Developer</p>
                <a href="https://github.com/"
            class="footer-modal__link"
            target="_blank">GIT</a>
              </div>
              <div class="team__card-back">
                <p class="team__card-discription">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Rerum consectetur odio minus, eos placeat magnam vero, ab molestias voluptatem atque praesentium? Minus quo aliquid deserunt dolor doloremque corporis odio expedita.</p>
              </div>
            </div>
          </li>
          <li class="team__item">
            <div class="team__card">
              <div class="team__card-front">
                <img class="team__card-img" src="" alt="">
                <p class="team__card-title">Developer</p>
                <a href="https://github.com/"
            class="footer-modal__link"
            target="_blank">GIT</a>
              </div>
              <div class="team__card-back">
                <p class="team__card-discription">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Rerum consectetur odio minus, eos placeat magnam vero, ab molestias voluptatem atque praesentium? Minus quo aliquid deserunt dolor doloremque corporis odio expedita.</p>
              </div>
            </div>
          </li>
          <li class="team__item">
            <div class="team__card">
              <div class="team__card-front">
                <img class="team__card-img" src="" alt="">
                <p class="team__card-title">Developer</p>
                <a href="https://github.com/"
            class="footer-modal__link"
            target="_blank">GIT</a>
              </div>
              <div class="team__card-back">
                <p class="team__card-discription">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Rerum consectetur odio minus, eos placeat magnam vero, ab molestias voluptatem atque praesentium? Minus quo aliquid deserunt dolor doloremque corporis odio expedita.</p>
              </div>
            </div>
          </li>
          <li class="team__item">
            <div class="team__card">
              <div class="team__card-front">
                <img class="team__card-img" src="" alt="">
                <p class="team__card-title">Developer</p>
                <a href="https://github.com/"
            class="footer-modal__link"
            target="_blank">GIT</a>
              </div>
              <div class="team__card-back">
                <p class="team__card-discription">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Rerum consectetur odio minus, eos placeat magnam vero, ab molestias voluptatem atque praesentium? Minus quo aliquid deserunt dolor doloremque corporis odio expedita.</p>
              </div>
            </div>
          </li>
          <li class="team__item">
            <div class="team__card">
              <div class="team__card-front">
                <img class="team__card-img" src="" alt="">
                <p class="team__card-title">Developer</p>
                <a href="https://github.com/"
            class="footer-modal__link"
            target="_blank">GIT</a>
              </div>
              <div class="team__card-back">
                <p class="team__card-discription">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Rerum consectetur odio minus, eos placeat magnam vero, ab molestias voluptatem atque praesentium? Minus quo aliquid deserunt dolor doloremque corporis odio expedita.</p>
              </div>
            </div>
          </li>
          <li class="team__item">
            <div class="team__card">
              <div class="team__card-front">
                <img class="team__card-img" src="" alt="">
                <p class="team__card-title">Developer</p>
                <a href="https://github.com/"
            class="footer-modal__link"
            target="_blank">GIT</a>
              </div>
              <div class="team__card-back">
                <p class="team__card-discription">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Rerum consectetur odio minus, eos placeat magnam vero, ab molestias voluptatem atque praesentium? Minus quo aliquid deserunt dolor doloremque corporis odio expedita.</p>
              </div>
            </div>
          </li>
          <li class="team__item">
            <div class="team__card">
              <div class="team__card-front">
                <img class="team__card-img" src="" alt="">
                <p class="team__card-title">Developer</p>
                <a href="https://github.com/"
            class="footer-modal__link"
            target="_blank">GIT</a>
              </div>
              <div class="team__card-back">
                <p class="team__card-discription">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Rerum consectetur odio minus, eos placeat magnam vero, ab molestias voluptatem atque praesentium? Minus quo aliquid deserunt dolor doloremque corporis odio expedita.</p>
              </div>
            </div>
          </li>
          <li class="team__item">
            <div class="team__card">
              <div class="team__card-front">
                <img class="team__card-img" src="" alt="">
                <p class="team__card-title">Developer</p>
                <a href="https://github.com/"
            class="footer-modal__link"
            target="_blank">GIT</a>
              </div>
              <div class="team__card-back">
                <p class="team__card-discription">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Rerum consectetur odio minus, eos placeat magnam vero, ab molestias voluptatem atque praesentium? Minus quo aliquid deserunt dolor doloremque corporis odio expedita.</p>
              </div>
            </div>
          </li>
          <li class="team__item">
            <div class="team__card">
              <div class="team__card-front">
                <img class="team__card-img" src="" alt="">
                <p class="team__card-title">Developer</p>
                <a href="https://github.com/"
            class="footer-modal__link"
            target="_blank">GIT</a>
              </div>
              <div class="team__card-back">
                <p class="team__card-discription">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Rerum consectetur odio minus, eos placeat magnam vero, ab molestias voluptatem atque praesentium? Minus quo aliquid deserunt dolor doloremque corporis odio expedita.</p>
              </div>
            </div>
          </li>
          <li class="team__item">
            <div class="team__card">
              <div class="team__card-front">
                <img class="team__card-img" src="" alt="">
                <p class="team__card-title">Developer</p>
                <a href="https://github.com/"
            class="footer-modal__link"
            target="_blank">GIT</a>
              </div>
              <div class="team__card-back">
                <p class="team__card-discription">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Rerum consectetur odio minus, eos placeat magnam vero, ab molestias voluptatem atque praesentium? Minus quo aliquid deserunt dolor doloremque corporis odio expedita.</p>
              </div>
            </div>
          </li>
          <li class="team__item">
            <div class="team__card">
              <div class="team__card-front">
                <img class="team__card-img" src="" alt="">
                <p class="team__card-title">Developer</p>
                <a href="https://github.com/"
            class="footer-modal__link"
            target="_blank">GIT</a>
              </div>
              <div class="team__card-back">
                <p class="team__card-discription">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Rerum consectetur odio minus, eos placeat magnam vero, ab molestias voluptatem atque praesentium? Minus quo aliquid deserunt dolor doloremque corporis odio expedita.</p>
              </div>
            </div>
          </li>

          
        </ul>
      </div>

        
        
      </div>
      
    </div>