<header class="container page-header">
  <div class="page-header__container">
    <nav class="navigation">
      <a class="link logo" href="/">
        <svg class="logo__img" width="86" height="28">
          <use id="iconLogo" href="../src/images/icons.svg#icon-logo"></use>
        </svg></a>
      <ul class="navigation__list">
        <li class="navigation__item">
          <a href="./index.html" class="navigation__home">HOME</a>
        </li>
        <li class="navigation__item">
          <a href="./shopping-list.html" class="navigation__shopping">SHOPPING LIST
            <svg class="icon__lock" width="20" height="20">
              <use href="../src/images/icons.svg#icon-cart"></use>
            </svg></a>
        </li>
      </ul>
    </nav>
    <div class="sing">
      <div class="switch">
        <input class="theme-switcher" type="checkbox" />
      </div>
      <button type="button" class="button-header">
        Sign up
        <svg class="logo__svg" width="20" height="20">
          <use href="../src/images/icons.svg#icon-arrow-right"></use>
        </svg>
      </button>
    </div>
    <button type="button" class="mobile-menu-open" data-menu-open> 
      <svg class="mobile-menu-open__icon" width="28" height="28">
        <use href="../src/images/icons.svg#icon-menu"></use>
      </svg>
    </button>
    <button
      type="button"
      class="mobile-menu__close-button is-hidden"
      data-menu-close
    >
      <svg class="mobile-menu__close-icon" width="28" height="28">
        <use href="../src/images/icons.svg#icon-close"></use>
      </svg>
    </button>
  </div>
  <a class="scrollup" href="#"></a>
</header>