<div class="mobile-menu" data-menu>
  <div class="container mobile-menu__container">
    <button type="button" class="mobile-menu__close-button" data-menu-close>
      <svg class="mobile-menu__close-icon" width="28" height="28">
        <use href="../src/images/icons.svg#icon-close"></use>
      </svg>
    </button>
    <ul class="mobile-menu__list">
      <li class="mobile-menu__item">
        <button type="button" class="button-modal">
          Sign up
          <svg class="logo__svg" width="20" height="20">
            <use href="../src/images/icons.svg#icon-arrow-right"></use>
          </svg>
        </button>
      </li>
      <li class="mobile-menu__item"></li>
      <li class="mobile-menu__item"></li>
    </ul>
    <button
      type="button"
      class="button-header button-header--change"
      data-modal-buy-open
    ></button>
  </div>
</div>
