.auth{
    margin-bottom: 20px;
    margin-top: 100px;
    width: 520px;
    text-align: center;
}
.auth > button {
    // height: 100%;
}
.auth >form >input{
    padding: 10px 0;
    margin-bottom: 10px;
}
.check{
    height: 50px;
    width: 50px;
    outline: 1px solid black;
}