.page-header__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 72px;
  @media screen and (max-width: 767.8px) {
    height: 64px;
  }
  margin-left: auto;
  margin-right: auto;
  position: relative;
}

.page-header {
  background-color: var(--header-bg-color);
  // position: fixed;
  overflow: hidden;
  width: 100%;
  border: 1.5px solid #111111;
  border-radius: 0px 0px 8px 8px;
  // top: 0;
  // left: 60;
  z-index: 100;

  @media screen and (min-width: 375px) {
    width: 100%;
  }
  // tablet
  @media screen and (min-width: 768px) {
    width: 768px;
  }

  // desktop
  @media screen and (min-width: 1440px) {
    width: 1440px;
  }
}

.logo__img {
  margin-right: auto;

  @media screen and (min-width: 768px) {
    margin-right: 32px;
  }
  @media screen and (min-width: 1440px) {
    margin-right: 99px;
  }
}

.navigation {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: auto;
}

.navigation__list {
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: var(--primary-font);
  font-weight: 700;
  font-size: 14px;
  line-height: 1.29;
}

.navigation__shopping {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  padding: 7px 16px;
  text-align: center;
  border-radius: 36px;
  gap: 8px;
  &:hover,
  &:focus {
    background: #eac645;
    border-color: #eac645;
    outline: 0;
  }
}

.navigation__home {
  display: block;
  width: 72px;
  height: 34px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  border-radius: 36px;
  gap: 24px;
  &:focus,
  &:hover {
    background: #eac645;
    border-color: #eac645;
    outline: 0;
  }
}

.active {
  background: #eac645;
  border-color: #eac645;
  border-radius: 36px;
}

.icon__lock {
  margin-left: 4px;
}

.button-header {
  display: flex;
  align-items: center;
  cursor: pointer;

  padding-top: 15px;
  padding-left: 14px;
  padding-bottom: 14px;

  width: 184px;
  height: 48px;
  left: 1232px;
  top: 12px;
  font-family: var(--primary-font);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.3;

  color: #ffffff;
  background-color: #4f2ee8;

  border-radius: 18px;
  border: 1.5px solid #111111;

  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

  @media screen and (max-width: 767.8px) {
    display: none;
  }
}

.switch {
  margin-right: 18px;
  @media screen and (min-width: 768px) {
    margin-right: 24px;
  }
}

input[type='checkbox'] {
  position: relative;

  width: 40px;
  height: 22px;
  outline: none;
  -webkit-appearance: none;
  border-radius: 18px;
  transition: 0.5s;
  background: linear-gradient(180deg, #4f2ee8 0%, #dcdcdc 100%);
  box-shadow: inset 1px 1px 2px rgba(0, 0, 0, 0.1);
}

input:checked[type='checkbox'] {
  background: linear-gradient(180deg, #4f2ee8 0%, #686868 100%);
  box-shadow: inset 1px 1px 2px rgba(0, 0, 0, 0.1);
}
input[type='checkbox']:before {
  cursor: pointer;
  position: absolute;
  align-items: center;
  justify-content: center;
  content: '';
  width: 18px;
  height: 18px;
  border-radius: 50px;
  top: 2px;
  left: 3px;
  background: linear-gradient(180deg, #ffffff 0%, #f7f7f7 100%);
  transition: 0.5s;
  transform: scale(1.1);
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}
input:checked[type='checkbox']:before {
  left: 20px;
  cursor: pointer;
}
.navigation__list {
  @media screen and (max-width: 767.8px) {
    display: none;
  }
}

.sing {
  display: flex;
  justify-content: center;
  align-items: center;
}
.mobile-menu-open {
  @media screen and (min-width: 768px) {
    display: none;
  }
  &:hover,
  :focus {
    fill: var(--primary-accent-color);
  }
}

.mobile-menu__close-button {
  @media screen and (min-width: 768px) {
    display: none;
  }
  &:hover,
  :focus {
    fill: var(--primary-accent-color);
  }
}
