.home{
margin-top: 60px;

  @media screen and (min-width: 1440px) {
    display: flex;
  }
}

.sidebar{
  @media screen and (min-width: 768px) and (max-width: 1439.8px) {
    display: flex;
  }
}

.home-section{
  background-color: var(--main-bg-color);
}