// dark theme general

header.dark {
  border: 1.5px solid var(--border-color);
  & .mobile-menu-open,
  & .mobile-menu__close-icon {
    fill: var(--primary-font-color);
    &:hover,
    &:focus {
      fill: var(--primary-accent-color);
    }
  }
}

.navigation.dark {
  color: var(--primary-font-color);
  & li:hover,
  & li:focus {
    color: var(--header-bg-color);
  }
}

.icon__lock.dark {
  fill: currentColor;
}

// dark theme INDEX

.categories.dark {
  & .categories__btn {
    &:hover,
    &:focus {
      color: var(--second-accent-color);
    }
  }
  &::-webkit-scrollbar-thumb {
    background: #11111199;
  }
}

.books-section__title.dark {
  color: var(--primary-font-color);
}

.books-container.dark {
  & .list-markup__see-more-button {
    color: var(--primary-font-color);
  }
  & h2 {
    color: var(--primary-font-color);
  }
  & .card-overlay-text {
    color: var(--header-bg-color);
  }
}

// dark theme SHOPPING LIST

.shopping-main.dark {
  & .shopping-list--item {
    background-color: var(--header-bg-color);
  }
  & .shopping-list--title {
    color: var(--primary-font-color);
  }
  & .shopping-list--description {
    color: var(--primary-font-color);
  }
  & .book-stores__img {
    color: var(--primary-font-color);
  }

  & .tui-first-child,
  & .tui-last-child {
    border: 1px solid var(--border-color);
  }
}



.mobile-menu__container.dark {
  & .mobile-menu__home,
  & .mobile-menu__shopping {
    color: var(--primary-font-color);
    &:hover,
    &:focus {
      color: var(--header-bg-color);
    }
  }
  & .button-modal__logout {
    background-color: var( --primary-font-color);
    color: var(--header-bg-color);
  }
}