.shopping--section {
  background-color: var(--main-bg-color);
  padding: 40px 0px;
  @media screen and (min-width: 768px) {
    padding: 40px 0px;
    }
        @media screen and (min-width: 1440px) {
          padding: 40px 0px;
        }
}

.shopping-container {
  @media screen and (min-width: 1440px) {
    display: flex;
    gap: 40px;
      align-items: baseline;
  }
}
.title {
  @include fonts (32px, 38px, 700, -0.04em, false, var(--primary-font-color));
font-family: 'DM Sans';
@media screen and (min-width: 768px) {
  @include fonts (48px, 52px);
}
}

.shopping-title-part {
color: var(--primary-accent-color);
}

.shopping-list {
  margin-top: 40px;
}

.shopping-wrapper {
  flex: 1 1 auto;
margin: 120px 55px 302px;
@media screen and (min-width: 768px) {
  margin: 140px 210px 394px;
}
@media screen and (min-width: 1440px) {
  margin: 140px 356px 157px;
}
}

.shopping-notification {
  @include fonts (14px, 18px, 400, -0.02em, false, rgba(0, 0, 0, 0.6));
  font-family: 'DM Sans';
  text-align: center;
@media screen and (min-width: 768px) {
  @include fonts (18px, 24px);
}
}

.shopping-pagination {
  margin-top: 20px;
  @media screen and (min-width: 768px) {
      margin-top: 40px;
    }
}

.shopping-funds {
  margin-top: -40px;
  @media screen and (max-width: 1439.8px) {
display: none;
  }
}

.shopping-main {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.shopping-wrap {
  flex-grow: 1;
}