.categories {
  margin-top: 40px;
  max-width: 335px;
  height: 228px;

  overflow: hidden;
  overflow-y: scroll;

  @media screen and (min-width: 768px) {
    width: 337px;
    height: 472px;
  }
  @media screen and (min-width: 1440px) {
    width: 356px;
  }
}

.categories__list {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0px;
  gap: 24px;

  @media screen and (min-width: 768px) {
    gap: 32px;
  }
}
.categories__item {
  border: none;
  padding: 0;
  background-color: transparent;
}
.categories__item > .categories__active {
  display: block;
  border: none;
  padding: 0;
  max-width: 307px;
  height: 18px;

  font-family: 'DM Sans';
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.12;

  letter-spacing: -0.02em;
  text-transform: uppercase;

  color: var(--primary-accent-color);
  background: transparent;

  transition-property: font-weight, text-transform, color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-delay: 0;

  @media screen and (min-width: 768px) {
    font-size: 16px;
  }
}

.categories__btn {
  display: block;
  border: none;
  padding: 0;
  max-width: 307px;
  height: 18px;
  font-family: var(--primary-font);
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.12;
  text-align: left;
  letter-spacing: -0.02em;

  color: var(--categories-font-color);
  background: transparent;

  transition-property: font-weight, text-transform, color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-delay: 0;

  

  &:hover,
  &:focus {
    font-weight: 700;
    font-size: 14px;
    text-transform: uppercase;
    color: var(--primary-accent-color);

    @media screen and (min-width: 768px) {
      font-size: 16px;
    }
  }

  @media screen and (min-width: 768px) {
    width: 318px;
    height: 24px;
    font-size: 18px;
    line-height: 1.33;
  }
}

// custom scrollbar
.categories::-webkit-scrollbar {
  width: 8px;
}
.categories::-webkit-scrollbar-thumb {
  width: 8px;
  height: 114px;

  background: #e0e0e0;
  border-radius: 12px;

  @media screen and (min-width: 768px) {
    height: 167px;
  }
}

.categories::-webkit-scrollbar-track {
  background: transparent;
}
